body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
}

h1 {
    text-align: center;
    padding: 10px;
    margin: 0px auto;
    background-color: lightgray;
    border: 5px gray groove;
}

.container, main, .board, .subgrid, .cell {
    display: flex;
    flex-wrap: wrap;
}

.container {
    padding: 10px;
    gap: 10px;
}

aside {
    min-width: 200px;
    min-height: 200px;
    background-color: lightgray;
    border: 5px gray ridge;
    margin: 0px 0px;
    flex: 1;
}

button {
    flex: 1;
}

.timer {
    padding: 0px 10px;
    margin-left: auto;
    border: 5px gray outset;
    border-radius: 15px;
}

main {
    flex: 1;
    flex-direction: column;
}

.board {
    width: 400px;
    height: 400px;
    border: 5px gray outset;
    box-shadow: 1px 1px 5px black;
    padding: 0px;
    margin: 10px;
    align-self: center;
}

.subgrid, .cell {
    width: 33.33%;
    height: 33.33%;
    box-sizing: border-box;
    border: 2px gray groove;
}

.cell {
    justify-content: center;
    align-items: center;
    border: 1px gray solid;
}